.wpestate_buy_now_footer{
    position: fixed;
    top: 200px;
    right: 0;
    background: #fff;
    z-index: 9999;
    box-shadow: 3px 1px 20px 0 rgba(0, 110, 225, 0.2);
    padding: 25px 15px 15px 15px;
    font-size: 13px;
    font-weight: 500;
    color: #222;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.wpestate_buy_now_footer ul{
    list-style: none;
    margin: 5px 0px 15px 0px;
}

.wpestate_buy_now_footer li{
    margin-bottom:5px;
}
.wpresidence_button.wpestate_buy_now_link{
    margin-bottom: 0px!important;
}

#wpestate_buy_now_footerclose{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    background-color: #222;
    cursor: pointer;
    color: #fff;
    padding: 4px 7px;
    line-height: 1em;
    border-radius: 4px;
}

@media only screen and (max-width: 1023px){
  .wpestate_buy_now_footer{
    display:none;
  }
}